<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="learning1"/>
<stringAttribute key="ConnectionInfo" value=""/>
<stringAttribute key="EGName" value="student"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_name" value="IBM J9 VM"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_version" value="1.8.0_301"/>
<intAttribute key="com.ibm.debug.wsa.attr_was_version" value="61"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="LAPTOP-BB9OC64R"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="6780"/>
</launchConfiguration>